/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.submitform {
  display: flex;
  flex-direction: column;
}*/
html, body, main {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: image-url('spotify-background.jpg');
  background-color: black;
}

img {
  opacity: 0.5;
}

.main-page{
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.big-wrap {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.login-features{
  color: #FFF;

}

.screen-login{
  display: flex;
  flex-direction: column;
  border-right: 1px;
  border-color: #FFF;
  color: #FFF;
  padding: 45px;
  padding-top: 20px;
  width: 330px;
  height: 480px;
  border-right: 1px solid #FFF;
  justify-content: space-between;
}

.header {
  align-self: center;
}


em{
  font-style: normal;
  align-self: center;
}

.fake{
  border-top: solid 1px #FFF;
  content: "";
  display: block;
  position: absolute;
  top: .5em;
  width: calc(50% - 20px);
}

.submitform{
  display: flex;
  flex-direction: column;
  color: #FFF;
  width: 330px;
}



.submitform > label {
  justify-content: flex-start;
  padding-top: 5px;
}

.screen-login > button {
  background-color: transparent;
border: solid 1.5px #FFF;
border-radius: 256px;
color: #FFF;
display: block;
font-size: 13px;
letter-spacing: .03em;
line-height: 1.25em;
margin: 20px auto;
max-width: 320px;
height: 41px;
overflow: hidden;
padding: 2px 15px 0;
text-align: center;
text-transform: uppercase;
width: 100%;
}

.submitform > button {
  background-color: transparent;
border: solid 1.5px #FFF;
border-radius: 256px;
color: #FFF;
display: block;
font-size: 13px;
letter-spacing: .03em;
line-height: 1.25em;
margin: 20px auto;
max-width: 320px;
height: 41px;
overflow: hidden;
padding: 2px 15px 0;
text-align: center;
text-transform: uppercase;
width: 100%;

}

.submitform > input {
      background-color: transparent;
      border: 0;
      color: #FFF;
      font-weight: normal;
      text-rendering: optimizeLegibility;
      border-bottom: solid 1px #FFF;
      height: 27px;
      padding-top: 5px;
      font-size: 13px;
}

.submitform > input:focus{
  outline: none;
}

.login-features{
  width: 540px;
  padding: 45px;
}

.errors{
  color: #ce1a2b;
  height: 10px;
}

.login-logo{

    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

.login-list > li {
  list-style-image: image-url("checkmark.png");
}
