/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.submitform {
  display: flex;
  flex-direction: column;
}*/


html {
  background-color: #181818;
}


main {
  height: 100vh;

  }

body{
  background-color: #181818;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: 'Montserrat', sans-serif;
  color: #FFF;
}

img {
  opacity: 0.5;

}

#root > div {
  height: 100%;
}

.main-page{
    background-image: linear-gradient(rgb(30, 51, 100), rgb(3, 6, 11));
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(128, 128, 128);
}

.main-page > a:hover{
  color: #FFF;
}

.add-playlist-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px
}

.add-playlist-form > a{
  width: 150px;
}

.add-playlist-modal:focus {
  outline: none;
}

.add-playlist-list{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-playlist-modal{
  width: 200px;
}

.add-playlist-list > h5 {
  margin: 5px;
}

.add-playlist-listing{
  list-style: none;
  cursor: pointer;
}

.add-playlist-form > input:focus{
  outline: none;
}

.add-playlist-modal-selected {
  color: #1db954;
}

.add-playlist-form > input {
  background-color: transparent;
  border: 0;
  color: #FFF;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  border-bottom: solid 1px #FFF;
  height: 27px;
  padding-top: 5px;
  font-size: 13px ;
}

.index {
  align-self: flex-start;
  height: 100%;
  width: 100%;
  margin-left: 260px;
  margin-bottom: 120px;
  overflow: scroll;
}

.playlist-show{
  display: flex;
  margin-left: 260px;
  width: 1424px;
}

::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}

.playlist-show-details-container{
  width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.playlist-show-details-text{
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.playlist-show-songs{
 padding-top: 50px;
 width: 750px;
}

.song-list{
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.song-list:hover{
  background: rgba(0,0,0,0.3);
}

.song-index-listing:hover{
  background: rgba(0,0,0,0.3);
}

.song-index{
  padding-right: 15px;
}

.playlist-song-listing{
  height: 63;
  padding-top: 3px;
  padding-bottom: 3px;
}

.song-listing-div:hover{
    background: rgba(0,0,0,0.3)
}

.song-list-item{
  height: 100%;
  width: 100%;
  padding-right: 5px;
}

.song-list-item-playing{
  height: 100%;
  width: 100%;
  padding-right: 5px;
}

.song-list-item-playing{
  height: 100%;
}

.song-listing{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.song-listing-info{
  position: relative;
  top: -23px;
}

.song-index-listing > a {
  width: 150px;
}

.song-listing-delete{
  position: relative;
  top: -15px;
}

.song-listing-title{
  margin: 0;
  font-size: 1.2em;
  color: #FFF;
}
.song-listing-artist{
  margin: 0;
  font-size: 14px;
}

.song-listing-div{
  padding: 7px;
  display: flex;
  position: relative;
  top: -22px;
}

.song-index-listing{
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 68px;
}

.left-nav-container{
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  width: 220px;
}

.left-nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 150px;
  height: 100%;
  flex-direction: column;
}

.left-nav-top{
  display: flex;
  width: 172px;
  height: 218px;
  color: rgb(128, 128, 128);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-nav-username{
  border-top: 1px #FFF solid;
  display: flex;
}

.left-nav-link{
  color: rgb(128, 128, 128);
  border-top: 1px #FFF solid;
  width: 100%;
}

.nav-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px #FFF solid;
  width: 100%;
}

.playlist-index{
  display: flex;
  flex-wrap: wrap;
}

.playlist-detail{
  width: 224px;
  height: 321px;
  text-align: center;
}


 a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  color: inherit;
}

a:visited{
  color: inherit;
}

a:hover{
  color: #FFF;
}

.playlist-detail-text {
  margin-right: 17px;
  color: #FFF;
}

.playlist-index-title{
  margin-top: 15px;
  margin-bottom: 5px;
}

.playlist-detail-text > h6 {
  margin: 10px;
  border: 0;
}

.playlist-cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #202020;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.playlist-show-cover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: 320px;
  background-color: #202020;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.show-musical-note{
  height: 40%;
  width: 40%;
  background-size: 100%;
  font-size: 130px;
}

.playlist-show-title{
  font-size: 1.1em;
  color: #FFF;
}

.musical-note{
  height: 40%;
  width: 40%;
  background-size: 100%;
  font-size: 70px;
}


.top-nav{
  display: flex;
  height: 90px;
  width: 100%
}


.top-nav > ul {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.add-playlist-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0,0,0,.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 103;
}

.add-playlist-underlay{
  display: flex;
  flex-direction: column;
  width: 300px;
}


.now-playing-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #181818;
  position: fixed;
  width: 100%;
  height: 120px;
  bottom: 0;
  z-index: 101;
}

.now-playing-track-info > h6{
  margin: 0;
  padding: 5px;
  width: 110px;
}


.fa.fa-play-circle-o{
  font-size: 48px;
}

.button-progress{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar{
  color: #FFF;
}

.play-button{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: #FFF;
  border-radius: 256px;
  color: #FFF;
  letter-spacing: .03em;
  line-height: 1.25em;
  width: 42px;;
  height: 48px;
  text-transform: uppercase;
  font-size: 30px;
  padding-bottom: 10px;
}

.fa.fa-volume-up{
  font-size: 22px;
  padding-right: 5px;
}

.big-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: image-url('spotify-background.jpg');
  height: 100vh;
}

.login-features{
  color: #FFF;

}

.screen-login{
  display: flex;
  flex-direction: column;
  border-right: 1px;
  border-color: #FFF;
  color: #FFF;
  padding: 45px;
  padding-top: 20px;
  width: 330px;
  height: 480px;
  border-right: 1px solid #FFF;
  justify-content: space-between;
}

.header {
  align-self: center;
}


em{
  font-style: normal;
  align-self: center;
}

.fake{
  border-top: solid 1px #FFF;
  content: "";
  display: block;
  position: absolute;
  top: .5em;
  width: calc(50% - 20px);
}

.submitform{
  display: flex;
  flex-direction: column;
  color: #FFF;
  width: 330px;
}



.submitform > label {
  justify-content: flex-start;
  padding-top: 5px;
}

.screen-login > button {
  background-color: transparent;
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  display: block;
  font-size: 13px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 320px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.new-playlist-button{
  background-color: #1db954;
  border: none;
  width: 150px;
  height: 30px;
  text-align: center;
}

 button {
  background-color: transparent;
  border: solid 1.5px #FFF;
  border-radius: 256px;
  color: #FFF;
  display: block;
  font-size: 13px;
  letter-spacing: .03em;
  line-height: 1.25em;
  margin: 20px auto;
  max-width: 150px;
  height: 41px;
  overflow: hidden;
  padding: 2px 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

}

.submitform > input {
  background-color: transparent;
  border: 0;
  color: #FFF;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  border-bottom: solid 1px #FFF;
  height: 27px;
  padding-top: 5px;
  font-size: 13px ;
}

.submitform > input:focus{
  outline: none;
}




.logout {
background-color: transparent;
border: solid 1.5px #FFF;
border-radius: 256px;
color: #FFF;
display: block;
font-size: 13px;
letter-spacing: .03em;
line-height: 1.25em;
margin: 20px auto;
max-width: 320px;
height: 41px;
overflow: hidden;
padding: 2px 15px 0;
text-align: center;
text-transform: uppercase;
width: 100%;
}

.play-button:focus{
  outline: none;
}

.login-features{
  width: 540px;
  padding: 45px;
}

.errors{
  color: #ce1a2b;
  height: 10px;
}

.login-logo{
  color: #07d159;
  font-size: 60px;
  font-weight: bold;
}

.login-list > li {
  list-style-image: image-url("checkmark.png");
}

.logo-username{
  display: flex;
  padding-top: 5px;
}

.left-nav-search-text{

}

.username-display{
  margin: 0;
}

.fa.fa-user-o{
  position: relative;
  top: 4px;
  padding-right: 10px;
  font-size: 19px;
}

.username{
  align-self: center;
}

.mag-glass{
  display: flex;
  align-items: center;
}

.fa.fa-search{
  font-size: 18px;
}

.progress-bar-container{
  height: 2px;
}

.progress-bar{
  height: 2px;
  background-color: #FFF;
}

.progress-time{
  display: flex;
}

.progress-time > h6 {
  width: 20px;
}
