@font-face {
	font-family: 'proxima-nova';
	src: url(../fonts/proxima-nova/proximanova-regular-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-regular-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-regular-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}

@font-face {
	font-family: 'proxima-nova';
	font-weight: bold;
	src: url(../fonts/proxima-nova/proximanova-bold-webfont.eot?1307578394);
	src: url('../fonts/proxima-nova/proximanova-bold-webfont.eot?iefix') format('eot'),url(../fonts/proxima-nova/proximanova-bold-webfont.woff?1307578394) format('woff'),url(../fonts/proxima-nova/proximanova-bold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proxima-nova/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
}
